# Node / React
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.eslintcache
npm-debug.log

# Python / FastAPI
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env

# OS Files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
